<form [formGroup]="formGroup">
  <app-input formControlName="input"></app-input>
  <span>{{'Input form value = ' + this.formGroup.get('input').value }}</span>
  <app-input formControlName="inputDisabled"></app-input>
  <app-combo [options]="comboOptions" formControlName="combo"></app-combo>
  <span>{{'Combo form value = ' + this.formGroup.get('combo').value }}</span>
  <app-combo [options]="comboOptions" formControlName="comboDisabled"></app-combo>

  <button (click)="setValue('input', 'works')">Click me</button>
</form>
